 *{
    margin: 0;
    padding: 0;
}
:root{
    --firsColor:rgb(0, 0, 0);
    --secondColor:rgb(145, 145, 145);
    --thirdColor:rgb(232, 232, 232);
    --fourthColor:#ffffff;
    --sixColor:#dfecc6;
    --sevenColor:rgb(142, 156, 120);
    --aithColor:rgb(72, 92, 17);
}
/* body{
    background-color: var(--fourthColor);
}
.nav-bar-for-phone{
    display: none;
}
nav{
    display: flex;
    font-family: "DM Sans", sans-serif;
    top: 0;
    position: sticky;
    z-index: 1000; 
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding: 20px;
}
.nav-list{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 50px;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    position: sticky;
}
.btn-learn-more{
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--aithColor);
    color: var(--fourthColor);
}
 .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.hero-section-text{
    font-family: "Crimson Text", serif;
    font-size: 140px;
    font-weight: 300;
    text-align: center;
} 
 .green-div{
    position: relative;
    bottom: 460px;
    width: 1200px;
    height: 362px;
    background-color: var(--sevenColor);
    border-radius: 30px;

}
.hero0img{
    position: relative;
    left: 200px;
    object-fit: contain;
    width: 800px;
    height: 738px;
    z-index: 1;
}
.hero-green-div{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.trusted-by-page{
    bottom: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.icons-of-trusted-company{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:30px ;
}
.text-trusted-by{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--secondColor);
    padding-inline: 50px;
}
.icons-trusted-page, .Benefits-icons{
    object-fit: contain;
}
.benefits-page{
    position: relative;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-inline-start: 50px;
}
.Benefits-cards{
    display: flex;
    justify-content: space-between;
}
.Benefits-card{
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    gap: 20px;
}
.Benefits-text-h1{
    font-family: "Crimson Text", serif;
    font-size: 64px;
    font-weight: 500;
}
.text-benefits, .text-specs{
     font-family: "DM Sans", sans-serif;
     font-weight: 500;
     letter-spacing: 1px;
    color: var(--aithColor)
}
.Benefits-text-h3{
    font-family: "Inter", sans-serif;
    color: var(--secondColor);
    font-weight: 500;
}
.card-text-h4{
    font-family: "Crimson Text", serif;
    font-weight: 600;
}
.card-para{
    font-family: "Inter", sans-serif;
    color: var(--secondColor);
    line-height: 20px;
}
hr{
    width: inherit;
    height: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--thirdColor);
}
.image-page1{
    display: flex;
    justify-content: center;
}
.image-of-page1{
    object-fit: cover;
    width: 1188px;
    height: 607px;
    border-radius: 50px;
}
.see-the-big-picture-page{
    display: flex;
    justify-content: space-evenly;
    padding: 150px 0px;
}
.the-big-text-of-big-pic, .main-text-of-why-choose, .map-your-story-text, .connect-page-big-text{
    font-family: "Crimson Text", serif;
    font-size: 64px;
    font-weight: 500;
}
.conten-of-the-big-pic-page{
    border-top: 1px solid var(--thirdColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.para-of-big-pic{
    font-family: "Inter", sans-serif;
    color: var(--secondColor);
}
.list-item{
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 30px;
    border-top:1px solid var(--thirdColor);
    padding: 20px;

}
.number-span{
    font-size: 18px;
    color: var(--secondColor);
}
.btn-discover-more {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    background-color: var(--sixColor);
    border: none;
    border-radius: 30px;
    align-self: start;
    padding: 15px 20px;
    font-weight: 600;
}
.see-the-big-pic{
    border-radius: 20px;
}
.why-choose-page{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 100px;
    border-top: 3px solid var(--thirdColor);
}
.why-choose-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.btn-of-why-choose-page{
    background-color: var(--sixColor);
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 600;
}
.text-para-why-choose{
    font-family: "Inter", sans-serif;
    text-align: center;
    color: var(--secondColor);
}
table{
    width: 100%;
    display: flex;
    justify-content: center;
}
th{
    font-size: 32px;
    color: var(--secondColor);
    border-bottom: 2px solid var(--secondColor);
}
td{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    padding: 30px 150px;
    border-bottom: 1px solid var(--thirdColor);
    border-left: 1px solid var(--thirdColor);
}
.h3-table{
    font-family: "Crimson Text", sans-serif;
    font-weight: 500;
    padding: 20px;
}
td{
    padding: 40px 100px;
}
.fa-check,.fa-xmark{
    color: var(--secondColor);
}
.table-page{
    padding: 100px 0px;
}
.image1-page2{
    display: flex;
    gap: 80px;
    padding: 50px;
    border-bottom: 2px solid var(--thirdColor);
}
.image1-page2-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    border-top: 2px solid var(--thirdColor);
    padding: 40px;
}
.quote-of-the-day{
    font-family: "Crimson Text", serif;
    padding: 30px;
    letter-spacing: -2px;
    line-height: 50px;
    font-size: 40px;
}
.div-of-p{
     font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}

.para-of-head{
    color: var(--aithColor);
}
.image10-of-page2{
    border-radius: 20px;
    object-fit: cover;
}
.map-your-story-page{
    font-family: "Inter", sans-serif;
    display: flex;
    padding: 100px 0px;
    padding-bottom: 15rem;
    flex-direction: column;
}
.map-your-story{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
    padding-inline: 30px;
}
.map-your-story-btn{
    background-color: var(--sixColor);
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 600;
}
.mapYourMap-cards{
    display: flex;
    justify-content: space-around;
}
.mapYourMap-card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex-wrap: wrap;
    align-items: flex-start;
    border-top: 2px solid var(--thirdColor);
}
.mapYourMap-number{
    font-size: 68px;
    color: var(--secondColor);
}
.mapYourMap-texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mapYourMap-text{
    color: var(--secondColor);
}
.image-page3{
    display: flex;
    justify-content: center;
}
.image-11{
    object-fit: cover;
    width: 1200px;
    height: 664px;
    border-radius: 30px;
}
.connect-page{
    position: relative;
    top: 5rem;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 2px solid var(--thirdColor);
    border-bottom:  2px solid var(--thirdColor);
    padding: 10rem;
}
.connect-page-para{
    text-align: center;
    color: var(--secondColor);
    
}
.connect-page-btn{
    background-color: var(--aithColor);
    color: var(--fourthColor);
    padding: 10px 220px;
    border-radius: 30px;
}
.footer-list{
    font-family: "Inter", sans-serif;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    gap: 30px;
    font-weight: 700;
}
.footr{
    position: relative;
    top: 3rem;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 10px;
}
.emptySpace{
    padding: 80px ;
}
.footer-copyrights{
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.text{
    display: flex;
    gap: 15px;
}
.firspartofcopurights{
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: end;
    gap: 30px;
    color: var(--aithColor);
}
.all-rights{
    font-family: "DM Sans", sans-serif;
    word-spacing: 5px;
    color: var(--aithColor);
} */







@media screen and (min-width: 768px) and (max-width: 1024px) {
    *{
        padding: 0;
        margin: 0;
    }
    .nav-bar-for-phone{
    display: none;
}
nav{
    display: flex;
    font-family: "DM Sans", sans-serif;
    top: 0;
    position: sticky;
    z-index: 1000; 
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    padding: 20px;
}
.nav-list{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 30px;
    border-radius: 50px;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem;
    position: sticky;
}
.btn-learn-more{
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    background-color: var(--aithColor);
    color: var(--fourthColor);
}
.hero-section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.hero-section-text{
    font-family: "Crimson Text", serif;
    font-size: 140px;
    font-weight: 300;
    text-align: center;
}
.green-div{
    position: relative;
    bottom: 360px;
    left: 150px;
    width: 720px;
    height: 362px;
    background-color: var(--sevenColor);
    border-radius: 30px;
}
.hero0img{
    position: relative;
    left: 170px;
    top: 5px;
    object-fit: contain;
    width: 676px;
    height: 423px;
    z-index: 1;
    align-self: center;
}
.hero-section-text{
    line-height: 8rem;
}
.trusted-by-page{
    bottom: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.text-trusted-by{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--secondColor);
    padding-inline: 50px;
}
.icons-of-trusted-company{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    column-gap: 100px;
    padding-bottom: 1rem;
   }
   .text-trusted-by{
    font-size: 18px;
    height: 30px;
   }
   .warper-benfites-and-imge-page1{
    display: flex;
    flex-direction: column-reverse;
    gap: 15rem;
   }
   .image-page1{
    position: relative;
    bottom: 10rem;
    display: flex;
    justify-content: center;
}
.image-of-page1{
    object-fit: cover;
    width: 100%;
    height: 600px;
    border-radius: 50px;
}
   .benefits-page{
    position: relative;
    bottom: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    
    }
    .text-benefits, .text-specs{
     font-family: "DM Sans", sans-serif;
     font-weight: 500;
     letter-spacing: 1px;
    color: var(--aithColor);
    padding-inline: 3rem;
}
   .Benefits-cards{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   }
   .Benefits-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    border-top: 1px solid var(--secondColor);
}
   .Benefits-text-h1{
    font-family: "Crimson Text", serif;
    font-size: 3rem;
    font-weight: 500;
    padding-inline: 3rem;
}
.Benefits-text-h3{
    font-family: "Inter", sans-serif;
    color: var(--secondColor);
    font-weight: 500;
    padding-inline: 3rem;
}
   .image-of-page1{
    display:flex;
    flex-direction:column;
    align-self: center;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 500px;
   }
   .see-the-big-picture-page{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--secondColor);
   }
   .the-big-text-of-big-pic, .main-text-of-why-choose, .map-your-story-text, .connect-page-big-text{
    font-family: "Crimson Text", serif;
    font-size: 64px;
    font-weight: 500;
}
.conten-of-the-big-pic-page{
    border-top: 1px solid var(--thirdColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem;
}
.para-of-big-pic{
    font-family: "Inter", sans-serif;
    color: var(--secondColor);
}
.list-item{
    font-family: "Inter", sans-serif;
    display: flex;
    gap: 30px;
    border-top:1px solid var(--thirdColor);
    padding: 20px;

}
.number-span{
    font-size: 18px;
    color: var(--secondColor);
}
.btn-discover-more {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    background-color: var(--sixColor);
    border: none;
    border-radius: 30px;
    align-self: start;
    padding: 15px 20px;
    font-weight: 600;
}
.see-the-big-pic{
    position: relative;
    left: 13rem;
    border-radius: 20px;
}
   .para-of-big-pic br{
    display: none;
   }
   .conten-of-the-big-pic-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
   }
   .why-choose-page{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 100px;
   
}
.why-choose-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.btn-of-why-choose-page{
    background-color: var(--sixColor);
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: 600;
}
.text-para-why-choose{
    font-family: "Inter", sans-serif;
    text-align: center;
    color: var(--secondColor);
}
   .table-page{
    tab-size: 120px;
   }
   .image1-page2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 30px;
   }
   .image10-of-page2{
    align-self: center;
   }
   .quote-of-the-day br{
    display: none;
   }
   .div-of-p{
    display: flex;
    flex-direction: row;
   }
   .map-your-story-page{
    padding-top: 30px;
    padding-bottom: 30px;
   }
   .image-11{
    width: 700px;
   }
   hr{
    align-self: center;
   }
   .connect-page{
    padding-top: 50px;
   }
   .connect-page-para br{
    font-size: 8px;
    display: none;
   }
   .icone-walking-man{
    width: 30px;
   }
   .connect-page-btn{
    flex: 1 1 100%;
     width: 100%;
     text-align: justify;
     padding: 5px;
     text-align: center;
   }
}
@media screen and (max-width: 767px) {
    *{
        padding: 0;
        margin: 0;
    }
    nav{
        display: none;   
    }
    .nav-bar-for-phone{
    font-family: "DM Sans", sans-serif;
    top: 0;
    position: sticky;
    z-index: 1000; 
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    box-shadow: 1px 1px 1px 1px var(--thirdColor);
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .hero-section-text{
        font-family: "Crimson Text", serif;
        text-align: center;
        font-size: 78px;
        font-weight: 500;
        white-space: 1rem;
    }
    .green-div{
        position:relative;
        bottom: 25rem;
        background-color: var(--sevenColor);
        border-radius: 30px;
        width: 340px;
        height: 316px;
    }
    .hero0img{
        position: relative;
        left: 3rem;
      width: 248px;
      height: 521px;
      object-fit: contain;
      z-index: 1;
    }
    .trusted-by-page{
        margin: 0;
        padding-top: 0px;
        padding-bottom: 30px;
        border-bottom: 1px solid var(--secondColor);
    }
    .text-trusted-by{
        padding-top: 0px;
        font-size: 15px;
        
    }
    .icons-of-trusted-company{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .text-benefits{
        font-size: 12px;
    }
    .Benefits-text-h1{
        white-space: -30px;
    }
    .Benefits-text-h3{
        font-style: "DM Sans", sans-serif;
        color: var(--secondColor);
        font-size: 18px;
        font-weight: 400;
    }
    .Benefits-cards{
        display: flex;
        flex-direction: column;
    }
    .image-of-page1{
        object-fit: cover;
        height: 600px;
        width: 350px;
    }
    .the-big-text-of-big-pic{
        font-size: 58px;
    }
    .see-the-big-picture-page{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }
    .conten-of-the-big-pic-page{
        padding-inline: 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .para-of-big-pic br{
        display: none;
        line-height: 1em;
    }
    .the-big-text-of-big-pic{
        line-height: 1em;
    }
    .see-the-big-pic{
        width: 300px;
        padding-bottom: 0px;
    }
    .text-specs{
        font-size: 10px;
    }
    .main-text-of-why-choose{
        text-align: center;
        font-size: 43px;
    }
    .text-para-why-choose br{
        font-size: 8px;
        display: none;
    }
    table{
        overflow: auto;
        padding: 0px;
        width: 100%;
    display: flex;
    justify-content: center;
}
th{
    font-size: 28px;
    color: var(--secondColor);
    border-bottom: 2px solid var(--secondColor);
}
td{
    font-family: "DM Sans", sans-serif;
    font-size: 8px;
    font-weight: 500;
    padding: 0px 0px;
    border-bottom: 1px solid var(--thirdColor);
    border-left: 1px solid var(--thirdColor);
}
.h3-table{
    font-family: "Crimson Text", sans-serif;
    font-weight: 500;
    padding: 0px;
}
td{
    padding: 40px 100px;
}
.fa-check,.fa-xmark{
    color: var(--secondColor);
}
.table-page{
    padding: 100px 0px;
}
.image1-page2{
    display: flex;
    flex-direction: column;
}
.image10-of-page2{
    width: 300px;
    object-fit: contain;
}
.quote-of-the-day {
    font-size: 28px;
    align-self: center;
}
.quote-of-the-day br{
    display: none;
}
.div-of-p{
    display: flex;
    flex-direction: row;
}
.map-your-story{
    display: flex;
    align-items: normal;
    flex-direction: column;
    gap: 30px;
}
.map-your-story-btn{
    align-self: flex-start;
}
.mapYourMap-cards{
    overflow-y:scroll;
}
.image-11{
    width: 300px;
}
.connect-page{
    display: flex;
    align-items: normal;
}
.connect-page-big-text{
   font-size: 32px;
    text-align: center;
}
.text, .all-rights{
    font-size: 10px;
}
.footer-list{
    display: flex;
    flex-direction: column;
}
}
